/* global desktop/laptop view */

body {
  color: rgba(255, 255, 255, 0.945);
  background-color: rgba(0, 0, 0, 0.87);
}

p {
  line-height: 200%;
  margin-top: 20px;
  font-family: calluna-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(173, 172, 172);
}

a {
  text-decoration: none;
}

h3 {
  margin-top: 75px;
  font-family: calluna, serif;
  font-weight: 400;
  font-style: normal;
  color: grey;
  font-size: 1.25rem;
}

h2 {
  margin-top: 10px;
  font-family: macho, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 1.25rem;
}

.header-container {
  max-width: 1200px;
  min-height: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: macho, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.25rem;
}

nav {
  margin-right: 450px;
}

.nav-buttons {
  padding: 10px 35px;
  font-family: calluna-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(173, 172, 172);
}
.title-container {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 175px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-container h1 {
  margin: auto;
  font-size: 3.6rem;
  font-family: macho, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.container {
  max-width: 1200px;
  max-height: 575px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.frame {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.images {
  display: none;
}

.imagetext {
  width: 30%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.prevBtn,
.nextBtn {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.486);
  background: rgba(0, 0, 0, 0.205);
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  height: 30px;
  width: 50px;
  font-size: 28px;
  margin-top: 5px;
}

.playBtn {
  height: 30px;
  width: 50px;
  font-size: 28px;
  margin-top: 5px;
  background: rgba(122, 122, 122, 0.171);
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.text {
  display: none;
}

.slideshow {
  opacity: 0;
  padding-top: 65px;
  text-align: center;
}

.slideshow.active {
  opacity: 1;
}

footer {
  margin: 50px auto;
  text-align: center;
  font-family: calluna-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(173, 172, 172);
}

/* Fade effect */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.2s;
  animation-name: fade;
  animation-duration: 1.2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.hide-desktop-only {
  display: none;
}

.mob-wrapper {
  display: none;
}

/* media queries for mobile */

@media (max-width: 430px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
  }
  .frame {
    display: block;
  }

  .images .fade {
    display: block;
  }

  .hide-desktop-only {
    display: block;
  }

  .mob-img {
    margin: 0px 24px 0px 24px;
  }

  p {
    text-align: center;
  }

  nav {
    display: none;
  }

  .mob-wrapper {
    display: block;
    padding-right: 30px;
  }

  .mob-nav {
    display: none;
    position: absolute;
    padding-top: 10px;
  }

  .navbutton {
    display: block;
    background-color: whitesmoke;
    padding: 15px 30px;
    margin-left: -70px;
    text-align: center;
    color: rgba(0, 0, 0, 0.74);
  }

  .navbutton:hover {
    background-color: rgba(255, 255, 255, 0.214);
  }

  .imagetext {
    display: none;
  }

  footer {
    margin-top: 2850px;
  }
}
